.schedile-view {
    width: 90%;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedile-view .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedile-view .title > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.schedile-view .title-logo{
    background-color: var(--mhColor);
    width: var(--titleLogo);
    height: var(--titleLogo);
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedile-view .title-logo{
    background-color: var(--scheduleColor);
}

.schedile-view .title-logo img{
    width: var(--subLogos);
    height: var(--subLogos);
    padding-right: 2px;
}

.schedule-info {
    width: 100%;
}

/* Schedule Tab */

.schedule-block{
    cursor: pointer;
    width: 100%;
    background-color: white;
    border-radius: var(--border_radius);
    margin: 10px 0;
}

.schedule-container{
    padding: 12px 0px;
    margin: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.logo-container {
    width: 90px;
    height: 90px;
    background: var(--gray3);
    margin-right: 10px;
    border-radius: var(--border_radius);
}

.logo-container img{
    width: inherit;
}

.schedule-container button{
    border-style: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: red;
}

/* Schedule Information Window */

.schedule-content{
    padding: 10px 20px;
}

.schedule-content > div{
    width: 100%;
    margin-bottom: 20px;
}

.schedule-content h3 {
    margin: 5px 0;
}

.schedule-content .add-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-content .add-dates > div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.schedule-content .add-dates > span{
    width: 40px;
}

.schedule-content .add-address > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schedule-content .add-address > div span{
    width: 40px;
}

.schedule-content .add-time > div{
    display: flex;
    flex-direction: row;
}

.schedule-content .add-time > div span{
    width: 40px;
}

.schedule-content .add-prescription > div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.schedule-content .add-prescription > div h3{
    width: 100px;
    font-weight: normal;
    font-size: var(--mFont);
}

.schedule-content .add-prescription > div input{
    margin: 5px 25px;
    width: 15%;
}

.add-prescription .prescription-dropdown{
    width: 150px;
}


/* Map Style */

.map-section{
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 45vh;
    border-radius: var(--border_radius);
    margin: 15px 0px;
}

.map-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    left: 15px;
}

.map-buttons .classic-button{
    font-size: 14px;
    width: auto;
    padding: 10px  20px;
    margin-right: 15px;
    background: var(--scheduleColor);
}
