:root{
    --photoSize: 200px;
}

.home {
    width: 90%;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title-logo{
    background-color: white;
    width: var(--titleLogo);
    height: var(--titleLogo);
    border-radius: var(--border_radius);
}

.title img{
    width: var(--titleLogo);
    height: var(--titleLogo);
    padding-right: 20px;
}

.home > section{
    width: 100%;
}

.home > section > section{
    width: 80%;
    margin-right: 20px;
}

.home section .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table {
    display: flex;
    flex-direction: row;
}

/* Personal Information Style */

.personal_info{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: var(--border_radius);
    width: 100%;
}

.personal_info img{
    width: var(--photoSize);
    height: var(--photoSize);
    border-radius: var(--border_radius);
}

.pinfo_container{
    margin: 10px 15px;
    width: 100%;
}

.pinfo_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pinfo_container > div span{
    margin-right: 25px;
}

/* Measurements Style */

.measurements {
    width: 48%;
    padding-right: 20px;
}

.measure_container{
    background-color: white;
    border-radius: var(--border_radius);
    padding: 1px 15px;
}

.measures-row {
    display: flex;
    flex-direction: row;
}

.measures-row > span{
    width: 50%;
}

/* Allergies Style */

.allergies {
    width: 48%;
}

.allergies_container{
    background-color: white;
    border-radius: var(--border_radius);
    padding: 1px 15px 15px 15px;
}

.allergies_container button{
    border-style: none;
    background-color: var(--blue);
    color: white;
    font-size: 14px;
    border-radius: var(--border_radius);
    width: 100%;
    height: 40px;
}

/* Vital Signs Style */

.vital-signs {
    width: 100%;
    margin: 0;
}

.vitalsigns_container{
    background-color: white;
    border-radius: var(--border_radius);
    padding: 15px;
}

.vitalsigns_container ul{
    list-style: none;
    padding: 0px 15px 15px 15px;
    margin: 0;
}

.vitalsigns_container ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vitalsigns_container ul li h3{
    width: 150px;
}

/* What's Next? Style */

.whatsNext {
    width: 80%;
}

.whatsNext_container{
    background-color: white;
    border-radius: var(--border_radius);
    padding: 15px;
    height: 505px; /* ERASE THIS!!! */
}
