.password-meter{
    width: 100%;
    display: flex;
    display: table-row;
    justify-content: center;
    align-items: center;
}

.password-input{
    width: 85% !important;
}

.password-light{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.password-light.red{
    background-color: red;
}

.password-light.yellow{
    background-color: rgb(255, 217, 0);
}

.password-light.green{
    background-color: var(--green1);
}

/* Pop-Up Description */

.password-description ul{
    list-style: none;
    margin: 10px 30px;
    padding: 0;
}

.password-description li{
    list-style: none;
    margin: 5px 0;
}

.password-description span{
    font-weight: bold;
}
