.password-meter{
    width: 100%;
    display: flex;
    display: table-row;
    justify-content: center;
    align-items: center;
}

.password-input{
    width: 85% !important;
}

.password-light{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
}
