.signup-form{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form > div{
    display: flex;
    flex-direction: row;
    width: 102%;
    justify-content: space-between;
}

.signup-form > div input{
    width: 45%;
}

.signup-form .dropdown-container{
    width: 45%;
}

.signup-form input{
    border-style: none;
    margin: 10px 0;
    height: 25px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1.5pt var(--gray2);
    font-size: var(--sFont);
}

.signup-form button{
    border-style: none;
    margin: 10px 0;
    height: 42px;
    width: 250px;
    border-radius: 10px;
    font-size: var(--sFont);
    background-color: var(--blue);
    color: white;
    margin-top: 25px;
}

/* .input{
    width: 45%;
    height: 25px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1.5pt var(--gray2);
    font-size: var(--sFont);
} */

.input span{
    font-size: var(--sFont) !important;
    font-weight: normal !important;
}

/* .dropdown-button{
    z-index: 1000;
    width: inherit;
    cursor: pointer;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}

.arrowMenu{
    width: 15px;
    margin: 0 10px;
    transform: rotateZ(-180deg);
    transition: all .3s ease-in-out;
}

.arrowMenu.active{
    transform: rotateZ(0deg);
} */

/* .dropdown-button > span{
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}

.dropdown-menu{
    display: none;
}

.dropdown-menu.active{
    display: block;
    position: relative;
    z-index: 1000;
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.dropdown-menu.active li{
    padding: 5px 25px;
}

.dropdown-menu.active li:hover{
    cursor: pointer;
    background-color: var(--bgColor);
    border-radius: 10px;
} */
