.medical-history {
    width: 100%;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.medical-history .title-logo{
    background-color: var(--mhColor);
    width: var(--titleLogo);
    height: var(--titleLogo);
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.medical-history .title-logo img{
    width: var(--subLogos);
    height: var(--subLogos);
    padding-right: 2px;
}

.rows{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rows > span{
    width: 20%;
}

.first-row{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px ;
}

.second-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-row h2{
    margin: 15px 0;
}

.fit-height{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
}

/* Input Manager */

.addDelete-button{
    display: flex;
    flex-direction: row;
}

.addDelete-button span{
    width: 25px;
}

.delete-button{
    width: 55px;
    height: 50px;
    border-style: none;
    margin: 0;
    padding: 0;
    border-radius: var(--border_radius);
    cursor: pointer;
}

.delete-button:active{
    background: gray;
}

.delete-button.active{
    background: red;
}

/* Illness Container */

.add-illness, .illness-info{
    width: 100%;
}

.illness-block{
    width: 100%;
    background-color: white;
    border-radius: var(--border_radius);
    margin: 10px 0;
    cursor: pointer;
}

.illness-container{
    padding: 5px 0;
    margin: 12px;
}

.illness-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.illness-light{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    margin-right: 10px;
}

.illness-content{
    padding: 10px 20px;
}

.illness-content div:first-child{
    margin-bottom: 20px;
}

.illness-content h3 {
    margin: 5px 0;
}

.illness-content > div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.illness-title button{
    border-style: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: red;
}

.illness-info .illness-block{
    cursor:initial;
}

/* Add Illness Window */

.addIllness-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.addIllness-form input{
    border-style: none;
    margin: 5px 0;
    height: 25px;
    width: 97%;
    border-radius: 10px;
    padding: 8px 5px;
    box-shadow: 0 0 0 1.5pt var(--gray2);
    font-size: var(--mFont);
}

.addIllness-form textarea{
    border-style: none;
    margin: 10px 0;
    height: 300px;
    width: 97%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 0 1.5pt var(--gray2);
    font-size: var(--sFont);
    resize: none;
}

.addIllness-form button{
    width: 80%;
    margin-top: 15px;
}
