:root {
    --iconsSize: 70px;
    --menu_btn: 40px;
}

.sidebar{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.menubtn_cont{
    width: var(--menu_btn);
    height: var(--menu_btn);
    padding: 10px 0;
}

#menu_toggle{

    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span{
    transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu{
    left: 0 !important;
}

.menu_btn{
    cursor: pointer;
}

.sidebar .menu_btn > span,
.sidebar .menu_btn > span::before,
.sidebar .menu_btn > span::after {
    display: block;
    position: absolute;
    width: var(--menu_btn);
    height: 3px;
    border-radius: 15px;
    background-color: var(--gray1);
    transition-duration: .25s;
}

.menu_btn > span::before {
    content: ' ';
    top: -12px;
}

.menu_btn > span::after {
    content: ' ';
    top: 12px;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

.sidebar img{
    width: var(--iconsSize);
    height: var(--iconsSize);
}

.sidebar span{
    display: none;
}
