:root {
    --iconsSize: 70px;
    --iconImgSize: 45px;
    --menu_btn: 50px;
}

.sidebar{
    background-color: white;
    width: initial;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 10px;
}

.sidebar.active{
    width: 500px;
    /* align-items:flex-start; */
}

.menu_btn {
    background: none;
    cursor: pointer;
    border: none;
    width: var(--menu_btn);
    height: var(--menu_btn);
    margin: 10px 5px;
}

.menu_btn.active > span{
    transform: rotate(45deg);
}

.menu_btn.active > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menu_btn.active > span::after{
    top: 0;
    transform: rotate(90deg);
}

.menu_btn.active ~ .menu{
    left: 0 !important;
}

.sidebar .menu_btn > span,
.sidebar .menu_btn > span::before,
.sidebar .menu_btn > span::after {
    display: block;
    position: absolute;
    width: inherit;
    margin: 0;
    height: 3px;
    border-radius: 15px;
    background-color: var(--gray1);
    transition-duration: .25s;
}

.menu_btn > span::before {
    content: ' ';
    top: -12px;
}

.menu_btn > span::after {
    content: ' ';
    top: 12px;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li{
    padding: 5px 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar li:has(.homeIcon.active){
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar li:has(.mhIcon.active){
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar li:has(.scheduleIcon.active){
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar li:has(.faIcon.active){
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar li:has(.mcIcon.active){
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar li:hover{
    box-shadow: 0 0 0 3pt var(--blue);
    border-radius: 20px;
}

.sidebar span{
    display: none;
    font-size: var(--mFont);
    font-weight: bold;
    margin-left: 25px;
}

.sidebar.active span{
    display: block;
}

/* Icons Style */

.sidebar li > div{
    display: flex;
    width: var(--iconsSize);
    height: var(--iconsSize);
    border-radius: var(--border_radius);
    justify-content: center;
    align-items: center;
}


.sidebar li > div img{
    width: var(--iconImgSize);
}

.homeIcon{
    background-color: var(--blue);
}

.mhIcon{
    background-color: var(--mhColor);
}

.scheduleIcon{
    background-color: var(--scheduleColor);
}

.faIcon{
    background-color: var(--faColor);
}

.mcIcon{
    background-color: var(--mcColor);
}
