.explore-view {
    width: 100%;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-view .title, .explore-view .title > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
}

.explore-view .title{
    width: 100%;
    justify-content: space-between;
}

.explore-view .title-logo{
    background-color: var(--expColor);
    width: var(--titleLogo);
    height: var(--titleLogo);
    border-radius: var(--border_radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-view .title-logo img{
    width: var(--subLogos);
    height: var(--subLogos);
    padding-right: 0;
}

.explore-view .title .filter-space{
    width: 50%;
}

/* Explore Info Container */

.explore-container {
    width: 100%;
    background: white;
    border-radius: var(--border_radius);
    cursor: pointer;
}

.exploreinfo-block {
    margin: 10px 15px;
}

.exploreinfo-block .subtitle{
    margin: 0;
}

/* Filter Style */

.filter{
    width: 40%;
    background: white;
    border-radius: var(--border_radius);
    position: absolute;
    top: 5%;
    right: 3%;
    user-select: none;
    pointer-events: none;
}

.filter-container{
    cursor: pointer;
    width: 90%;
    margin: 10px;
    pointer-events: auto;
}

.filter:hover{
    background: var(--gray3);
}

.filter-container:hover{
    background: var(--gray3);
}

.filter-container span{
    font-weight: bold;
    display: block;
    user-select: none;
}

.filter-header{
    width: 90%;
}

.filter-content {
    pointer-events: auto;
    display: none;
    padding: 15px;
    margin-top: 10px;
    background: white;
    border-radius: var(--border_radius);
}

.filter-content.active{
    display: block;
}

.filter-content > div, .filter-form > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-content > div > div{
    width: 20%;
    margin-right: 20px;
}

.input-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.input-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.input-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-container input:checked ~ .checkmark:after {
    display: block;
}

.input-container .checkmark:after {
    top: 25%;
    left: 25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.horizontal-scroll{
    width: 100%;
    height: 50px;
    overflow:auto;
    white-space: nowrap;
}

.specialty-option, .illness-option {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray3);
    padding: 0 15px;
    font-weight: bold;
    border-radius: 100px;
    margin-right: 10px;
}
