@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root{
  --bgColor: #EBEBEB;
  --gray1: #838383;
  --titleLogo: 75px;
  --border_radius: 20px;

  --sFont: 16px;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
  margin: 0;
}
