@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root{
  --bgColor: #EBEBEB;
  --blue: #007BEC;
  --gray1: #838383;
  --gray2: #b8b8b8;
  --gray3: #d6d6d6;
  --grayhover: #dfdfdf;
  --green1: #05E100;


  --titleLogo: 75px;
  --subLogos: 50px;
  --border_radius: 15px;

  --xsFont: 12px;
  --sFont: 16px;
  --mFont: 22px;
  --bFont: 28px;
  --xlFont: 36px;

  /* Icons colors */
  --mhColor: #FB9600;
  --scheduleColor: #EC0000;
  --faColor: #05E100;
  --mcColor: #00D8F5;
  --expColor: #8317EF;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  margin: 0 15px;
  font-weight: bolder;
  font-size: var(--xlFont);
}

h3 {
  color: var(--gray1);
  font-size: var(--sFont);
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 > span{
  font-weight: normal;
}

p {
  font-weight: bold;
  font-size: var(--bFont);
  margin: 0;
  margin-right: 10px;
}

p > span{
  font-weight: normal;
}

.classic-button{
  width: 100%;
  border-style: none;
  border-radius: var(--border_radius);
  background-color: var(--blue);
  color: white;
  font-size: var(--sFont);
  font-weight: bold;
  padding: 15px 0;
  cursor: pointer;
}

.classic-button:active{
  opacity: 0.75;
}

.classic-input{
  border-style: none;
  margin: 5px 0;
  height: 25px;
  width: 100%;
  border-radius: 10px;
  padding: 8px 5px;
  box-shadow: 0 0 0 1.5pt var(--gray2);
  font-size: var(--mFont);
}
