@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root{
  --bgColor: #EBEBEB;
  --blue: #007BEC;
  --gray1: #838383;


  --titleLogo: 75px;
  --border_radius: 15px;

  --sFont: 16px;
  --mFont: 24px;
  --bFont: 36px;

  /* Icons colors */
  --mhColor: #FB9600;
  --scheduleColor: #EC0000;
  --faColor: #05E100;
  --mcColor: #00D8F5;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  margin-left: 15px;
  font-weight: bolder;
  font-size: var(--bFont);
}

h3 {
  color: var(--gray1);
  font-size: var(--sFont);
}
