@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root{
  --bgColor: #EBEBEB;
  --blue: #007BEC;
  --gray1: #838383;
  --gray2: #b8b8b8;
  --gray3: #dddddd;
  --green1: #05E100;


  --titleLogo: 75px;
  --border_radius: 15px;

  --xsFont: 12px;
  --sFont: 16px;
  --mFont: 24px;
  --bFont: 28px;
  --xlFont: 36px;

  /* Icons colors */
  --mhColor: #FB9600;
  --scheduleColor: #EC0000;
  --faColor: #05E100;
  --mcColor: #00D8F5;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--bgColor);
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  margin: 0 15px;
  font-weight: bolder;
  font-size: var(--xlFont);
}

h3 {
  color: var(--gray1);
  font-size: var(--sFont);
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: bold;
  font-size: var(--bFont);
  margin: 0;
  margin-right: 10px;
}
